@import url('https://fonts.cdnfonts.com/css/aileron');
@import url('https://kit.fontawesome.com/61d9644f47.js');

/* VARIABLES */
:root {
    --font-family: "Aileron", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --color: #071330;
    --bg-color: #FAFEFE;
    --primary-color: #071330;
    --secondary-color: #0C4160;
    --primary-shadow: #738FA7;
    --secondary-shadow: #C3CEDA;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--color);
}

ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:hover {
    color: var(--secondary-color);
}
  
body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}
  
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 70rem;
    margin: auto;
    padding-top: 4rem;
}

.hero img {
    height: 24rem;
    width: 28rem;
    border-radius: 8px;
}
  
.bio {
    width: 32rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
  
.bio h1 {
    margin-bottom: var(--bottom-margin);
}
  
.bio p {
    line-height: var(--line-height);
    padding: 0.4rem 0;
}

.bio-left img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}

.more-about {
    padding: 2rem 6rem;
}
  
.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
  
.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.skills {
    max-width: 68rem;
    margin: auto;
    text-align: center;
    padding-top: 6rem;
}
  
.skill-header {
    margin-bottom: 1rem;
}
  
.skills-wrapper img {
    padding: 1.25rem;
}
  
.icon {
    width: 12rem;
    height: 12rem;
}

.icon-card {
    border-radius: 12px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 12px;
}
.projects {
    padding: 32px 0;
    margin-top: 2rem;
}
  
.project-pic {
    width: 65%;
    height: 60%;
}
  
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}
  
.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}
  
.project-title {
    margin-bottom: var(--bottom-margin);
}
  
.project-details {
    margin-bottom: var(--bottom-margin);
}
  
.project-card {
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}
  
.socicon {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
  
.up-arrow {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
    nav {
        padding: 1.5rem 1rem;
    }
    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    nav ul li {
        margin: 8px;
    }
    .burger-menu {
        display: block;
      }
    nav ul.show {
        transform: translateX(0);
    }
    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }
    .hero img {
        height: 37.5rem;
        width: 30rem;
    }
    .bio {
        margin-top: -7rem;
        width: 20.5rem;
    }
    .more-about {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }
    
    .more-about h2 {
       text-align: center;
    }
    
    .more-about p {
       text-align: justify;
    }
    .icon {
        width: 5.875rem;
        height: 5.25rem;
    }
    .projects-container {
        flex-direction: column;
    }
    .project-container {
        width: 20.875rem;
    }


}